.projects{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.project{
    flex: 1 1 0;
    min-width: 200px;
}

li{
    line-height: 2; /* Adjusted for better readability */
    list-style-type: none;
}

#research-team{
    display: flex;
    gap: clamp(1rem, 2vw, 3rem);
}

.card{
    flex: 1 1 0;
}
@media(max-width:1400px){
    .project{
        min-width: 400px;
    }
}

@media(max-width:500px){
    .projects{
        flex-direction: column;
    }
    .project{
        min-width: 100px;
    }
}

@media(max-width:1000px){
    #research-team{
        flex-direction: column;
    }
}
img{
    max-height: 12rem;
}
